


<% for(var i = 0; i < demos.length; i++ ) { %>

<div class="module-group" id="<%= demos[i].name %>">
    <div class="group-head">
        <h1 class="group-title"> 
          <a href="http://frozenui.github.io/frozenui/demo/<%= demos[i].name %>.html"><%= demos[i].title %> <%= demos[i].name %></a>
          <a class="doc-demo-link" href="http://frozenui.github.io/frozenui/demo/<%= demos[i].name %>.html" title="点击查看demo" target="_blank"><span class="icon-qr"></span></a>
          <div class="doc-qrcode">
            <img src="img/qr-code-demo.png" alt="">
          </div>
        </h1>
    </div>

    <% for(var j = 0; j < demos[i].items.length; j++ ) { %>
    <div class="frozen-module">
        <div class="frozen-module-head">
          <h2 class="frozen-module-title">
            <%= demos[i].items[j].desc %>
            
          </h2>
          <p class="introduce"></p>
        </div>
        <div class="frozen-module-demo">
          <div class="module-tags">
            <span class="example module-tags">Example</span>
            <a class="copy doc-copy-code-btn" data-clipboard-text="<%= demos[i].items[j].block %>">Copy</a>
          </div>
          <div class="frozen-module-dom"><div class="dom-content"><%- demos[i].items[j].html %></div></div>
          <pre class="frozen-module-code"><code class="html"><%= demos[i].items[j].block %></code></pre>
        </div>
    </div>
    <% } %>
</div>
<% } %>


