

<div class="frozen-modules">
    <% for(var i = 0; i < demos.length; i++ ) { %>
    <div id="<%= demos[i].name %>" class="frozen-module">
        <div class="frozen-module-head">
            <h2 class="frozen-module-title">
                <a href="http://frozenui.github.io/frozenui/demo/<%= demos[i].name %>.html"><%= demos[i].title %> <%= demos[i].name %>.css</a>
                <!--<a class="doc-demo-css-link" href="http://frozenui.github.io/frozenui/css/<%= demos[i].name %>.css" title="点击查看源码" target="_blank"><%= demos[i].name %>.css</a>-->
                <a class="doc-demo-link" href="http://frozenui.github.io/frozenui/demo/<%= demos[i].name %>.html" title="点击查看demo" target="_blank"><span>qrcode</span></a>
                <div class="doc-qrcode"></div>
            </h2>
        </div>
        <% for(var j = 0; j < demos[i].items.length; j++ ) { %>
        <div class="frozen-module-demo">
            <h3 class="frozen-module-subtitle">
                <%= demos[i].items[j].desc %>
            </h3>
            <div class="frozen-module-dom"><%- demos[i].items[j].html %></div>
            <pre class="frozen-module-code"><code class="html"><%= demos[i].items[j].block %></code></pre>
            <a class="doc-copy-code-btn" data-clipboard-text="<%= demos[i].items[j].block %>">复制</a>
        </div>
        <% } %>
    </div>
    <% } %>
</div>